
#pokemon-details-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: rgba(255,255,255,0.8);
    z-index: 10;
    
}

#pokemon-details-container .pokemon-details {
    border: 2px solid #888;
    border-radius: 15px;
    background: #fefefe;
    height: 85vh;
    
    max-width: 1300px;
    margin-left: 5vw;
    margin-top: 6vh;
    position: relative;
    padding: 40px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

#pokemon-details-container .close-details {
    position: absolute;
    top: 10px;
    right: 10px;
}




